<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form__wrap">
     <p class="form__txt">Full Name:<span class="form__star">*</span></p>
        <label class="form__label">
            First name:
            <input class="form__input" type="text" formControlName="userFirstName"
            [ngClass]="{invalid:isValidField('userFirstName')}">
        </label>
        <label class="form__label">
            Last name
            <input class="form__input " type="text" formControlName="userLastName"
            [ngClass]="{invalid:isValidField('userLastName')}">
        </label>
    </div>
    <div div class="form__wrap">
        <p class="form__txt">Phone number:<span class="form__star">*</span></p>
        <label class="form__label">
            Area Code
            <input class="form__input input-area" type="tel" formControlName="userAreaCode"
            [ngClass]="{invalid:isValidField('userAreaCode')}">
        </label>
        <p>-</p>
        <label class="form__label">
            Phone number
            <input class="form__input input-tel" type="tel" formControlName="userPhoneNumber"
            [ngClass]="{invalid:isValidField('userPhoneNumber')}">
        </label>
    </div>
    <div div class="form__wrap">
        <p class="form__txt">Email address:<span class="form__star">*</span></p>
        <fieldset class="form__fieldset" formArrayName="userEmails">
            <div *ngFor="let userEmail of userEmails.controls; index as i">
                <input class="form__input input-email" type="email" [formControlName]="i" placeholder="ex: myname@example.com"
                [ngClass]="{invalid:isValidEmail(i)}">
                <button class="form__btn-del" type="button" *ngIf="userEmails.length >= 2" (click)="removeEmail(i)">X</button>
            </div>
            <button class="form__btn-add" type="button" (click)="addEmail()">+ add email</button>
        </fieldset>
    </div>
    <div class="form__wrap">
        <p class="form__txt">Company:<span class="form__star">*</span></p>
        <label class="form__label">
            <input class="form__input input-company" type="text" formControlName="userCompany"
            [ngClass]="{invalid:isValidField('userCompany')}">
        </label>
    </div>
    <div class="form__wrap">
        <p class="form__txt">Address:<span class="form__star">*</span></p>
        <div class="form__wrap-address">
            <label class="form__label">
                Street address
                <input class="form__input input-address" type="text" formControlName="userStreetAdr"
                [ngClass]="{invalid:isValidField('userStreetAdr')}">
            </label>
            <label class="form__label">
                Street address line 2
                <input class="form__input input-address" type="text" formControlName="userStreetAdr2"
                [ngClass]="{invalid:isValidField('userStreetAdr2')}">
            </label>
            <div class="form__wrap">
                <label class="form__label">
                    City
                    <input class="form__input" type="text" formControlName="userCity"
                    [ngClass]="{invalid:isValidField('userCity')}">
                </label>
                <label class="form__label">
                    State / Province
                    <input class="form__input " type="text" formControlName="userState"
                    [ngClass]="{invalid:isValidField('userState')}">
                </label>
            </div>
            <div class="form__wrap">
                <label class="form__label">
                    Postal / Zip code
                    <input class="form__input input-zip-code" type="text" formControlName="userZipCode"
                    [ngClass]="{invalid:isValidField('userZipCode')}">
                </label>
                <label class="form__label">
                    Country
                    <select class="form__select" formControlName="userCountry" [ngClass]="{invalid:isValidField('userCountry')}">
                        <option  [ngValue]="null" disabled>Pleas Select</option>
                        <option *ngFor="let countr of countrs" [ngValue]="countr">{{countr}}</option>
                    </select>
                </label>
            </div>
        </div>
    </div>
    <button class="form__btn" type="submit" [disabled]="isValidForm()">Submit</button>
    <button class="form__btn" type="button" (click)="resetForm()">Reset</button>
</form>
<div>
    {{ sendData | json }}
</div>